doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="todolist app width vallena js,node,pug")
        meta(name="keywords", content="todolist app width vallena js,node,pug")
        script(src="/asset/js/app.js",defer) 
        title Todolist
    body
        ul
            li.weather__location 
            li.weather__title